/* --------#F44336--------*/

/* -------------------------------------------------------------------- */
/* ------------------------ BASIC SETUP ------------------------------- */
/* -------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* -------------------------------------------------------------------- */
/* ------------------------ REUSABLE ITEMS ---------------------------- */
/* -------------------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}


/* ---------------------- HEADINGS ----------------------- */ 
h1,
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-weight: 300;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;  
}

h2 {
   font-size: 180%;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #F44336;
    content: " ";
    width: 100px;  
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 10px;
    line-height: 145%;
}

h4 {
    font-weight: 300;
    margin-bottom: 10px;
}


/* ------------------------ ICONS ----------------------- */ 
.icon-big {
    display: block;
    font-size: 250%;
    color: #F44336;
    margin-bottom: 10px;
}

.icon-small {
    font-size: 120%;
    color: #555;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.icon-small:hover {
    color: #F44336;
}

/* ---------------------- PARAGRAPHS -------------------- */ 
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box,
bio-box {
    padding: 1%;
}

.box p,
.bio-box p {
    font-size: 90%;
    line-height: 145%;
}

.bio-box p {
    padding-bottom: 2%;
}

/* ---------------------- BUTTONS ----------------------- */ 
.btn:link, 
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 7px 25px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;   
    -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;   
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link, 
.btn-full:visited,
input[type=submit] {
    background-color: #F44336;
    border: 2px solid #F44336;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link, 
.btn-ghost:visited {
    border: 2px solid #F44336;
    color: #F44336;
}

.btn:hover,
.btn:active,
input[type=submit]:hover, 
input[type=submit]:active {
    background-color: #ea1c0d;
}

.btn-full:hover, 
.btn-full:active,
input[type=submit] {
    border: 2px solid #ea1c0d;
}

.btn-ghost:hover, 
.btn-ghost:active {
    border: 2px solid #ea1c0d;
    color: #fff;
}

/* -------------------------------------------------------------------- */
/* ------------------------- HEADER ----------------------------------- */
/* -------------------------------------------------------------------- */

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-dark { 
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 10px 0;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}


.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 85%;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
    padding: 8px 0;
    border-bottom: 2px solid #F44336;
}

/* ------------------- Mobile nav ----------------------- */
.mobile-nav-icon {
    float: right;
    margin-top: 15px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}


/* ------------------- Sticky nav ----------------------- */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.97);
    -webkit-box-shadow: 0 2px 2px #ededed;
    box-shadow: 0 2px 2px #ededed;
    z-index: 9999;
}

.sticky .main-nav {
    margin-top: 20px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #555;
    padding: 16px 0;
}

.sticky .logo { display: none; }

.sticky .logo-dark { display: block; }


/* -------------------------------------------------------------------- */
/* ---------------------- SECTION SKILLS ------------------------------ */
/* -------------------------------------------------------------------- */

.section-skills .long-copy {
    margin-bottom: 50px;
}

/* -------------------------------------------------------------------- */
/* -------------------- SOFTWARE SHOWCASE ----------------------------- */
/* -------------------------------------------------------------------- */

.section-software {
    padding: 0;
}

.software-showcase {
    list-style: none;
    width: 100%;   
}

.software-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.software-logo {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.software-logo img {
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.software-logo img:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}


/* -------------------------------------------------------------------- */
/* -------------------------- SECTION BIO ----------------------------- */
/* -------------------------------------------------------------------- */

.section-bio {
    background-color: #f8f8f8;
}

.bio-box {
    margin-top: 30px;
}

.bio-box:first-child {
    text-align: right;
}

.db-photo {
    width: 60%;
    border-radius: 400px;
}

.bio-links {
    text-decoration: none;
    color: #F44336;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
}

.bio-links:hover {
    border-bottom: 1px solid #F44336;
}


/* -------------------------------------------------------------------- */
/* -------------------------- SECTION CONTACT ------------------------- */
/* -------------------------------------------------------------------- */


.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
}


/* -------------------------------------------------------------------- */
/* ---------------------------- FOOTER -------------------------------- */
/* -------------------------------------------------------------------- */

footer {
    background-color: #272727;
}


.social-nav {
    float: right;
    list-style: none;
}

.social-nav li {
    display: inline-block;
    margin: 10px 20px;
}

.m033a {
    font-size: 60%;
    padding-bottom: 1%;
    padding-right: 20px;
    float: right;
}

.footer-text {
    font-size: 70%;
}


/* ------ for Animation ------- */
.js--fadein {
    opacity: 0;
}

.js--fadein.animated {
    opacity: 1;
}































































